@use 'global/variables' as v;
@use 'global/mixins' as m;

.proyectos__bottom {
  margin-top: 2rem;

  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      border-radius: 1rem;
      object-fit: cover;
    }

    p {
      margin-top: 1rem;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000; // puedes ajustarlo a tu paleta
  }

  .swiper-pagination-bullet-active {
    background: #000;
  }
}
