
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$font-family: "Roboto", sans-serif;

$DarkBlue: #1D587E;
$Blue: #15B1E0;
$Dark: #000;
$White: #fff;
$Gray: #b0a8a8;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px; 